%h3
  You're NOT authenticated.  I don't know you from Adam.
%a{:href => "#", :onclick => "document.authenticate_form.submit();"} Authenticate using your salesforce credentials
%br
%br
%form{:id => "authenticate_form", :name => "authenticate_form", :action => "/authenticate", :method => "post"}
  %fieldset
    %legend Authentication Options
    %p
      %label 
        %strong environment
      %select{:name => "options[environment]"}
        %option{:value => "www"} production
        %option{:value => "test"} sandbox
      %label 
        %strong display
      %select{:name => "options[display]"}
        %option{:value => "page"} page
        %option{:value => "popup"} popup
        %option{:value => "touch"} touch
      %label 
        %strong immediate
      %select{:name => "options[immediate]"}
        %option{:value => "false"} false
        %option{:value => "true"} true
    %p
      %label 
        %strong scope
      %input{:type => "checkbox", :name => "options[scope|api]", :value => "true", :checked => "true"} api
      %input{:type => "checkbox", :name => "options[scope|chatter_api]", :value => "true"} chatter_api
      %input{:type => "checkbox", :name => "options[scope|full]", :value => "true"} full
      %input{:type => "checkbox", :name => "options[scope|id]", :value => "true", :checked => "true"} id
      %input{:type => "checkbox", :name => "options[scope|refresh_token]", :value => "true", :checked => "true"} refresh_token
      %input{:type => "checkbox", :name => "options[scope|visualforce]", :value => "true"} visualforce
      %input{:type => "checkbox", :name => "options[scope|web]", :value => "true"} web
